:root{
    --clr-100dark: #090909;
    --clr-90dark: #121010;
    --clr-80dark: #2E2D2D;
    --clr-grey: #454545;
    --clr-ash: #CCCCCC;
    --clr-80light: #CFCFCF;
    --clr-90light: #F8F7F7;
    --clr-magenta: #ff00b3;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.heroSection{
    width: 90%;
    height: 492px;
    margin: 4rem auto 0;
    display: flex;
}

.heroText{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin: auto;
    gap: 12px;
    text-align: left;
}

.heroText h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 70.31px;
    text-align: left;
    color: var(--clr-magenta);
}

.heroText p{
    font-size: 32px;
    font-weight: 400;
    line-height: 46.88px;
    text-align: left;
    color: var(--clr-90light);
}

.heroText p span{
    color: var(--clr-ash);
}

.heroImages{
    display: flex;
    flex-basis: 70%;
}

.heroImages img{
    width: 100%;
}

.heroText button{
    width: 160px;
    margin-top: 3rem;
    padding: 10px 20px;
    background-color: transparent;
    border: 1.4px solid var(--clr-magenta);
    border-radius: 50px;
    color: var(--clr-ash);
    font-size: 18.57px;
    font-weight: 700;
    line-height: 21.76px;
    text-align: center;
    cursor: pointer;
}

.heroText button img{
    margin: auto 10px auto 0;
}

@media(max-width:1100px){
    .heroText h1{
        font-size: 40px;
        line-height: 50.31px;
    }
    
    .heroText h3{
        font-size: 25px;
        line-height: 36.88px;
    }
}

@media(max-width:900px){
    main{
        margin-top: -40px;
    }

    .heroSection{
        display: block;
        position: absolute;
    }
    
    .heroText{
        width: 90%;
        margin: 0 auto;
        padding: 50px 0 0 20px;
    }

    .heroImages{
        width: 100%;
        margin-top: -320px;
        position: relative;
        z-index: -1;
    }
}

@media(max-width:700px){
    
    .heroSection{
        display: flex;
        flex-direction: column;
    }
    
    .heroText{
        width: 90%;
        margin: auto;
        order: 2;
        padding: 0 0 0 20px;
    }

    .heroText h1{
        font-size: 30px;
        line-height: 30px;
    }
    
    .heroText h3{
        font-size: 18px;
        line-height: 26px;
    }

    .heroImages{
        width: 100%;
        margin-top: -40px;
        order: 1;
    }
}