:root{
    --clr-100dark: #090909;
    --clr-90dark: #121010;
    --clr-80dark: #2E2D2D;
    --clr-grey: #454545;
    --clr-ash: #CCCCCC;
    --clr-80light: #CFCFCF;
    --clr-90light: #F8F7F7;
    --clr-magenta: #ff00b3;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    background-color: var(--clr-100dark);
}

header{
    width: 100%;
    height: 100vh;
    padding-top: 1rem;
}

nav{
    width: 100%;
    display: flex;
    padding-inline: 5%;
    justify-content: space-between;
}

.logo{
    flex-basis: 5%;
    padding-top: 20px;
}

.logo img{
    width: 90%;
    cursor: pointer;
}

.bars{
    display: none;
}

.desktop{
    display: flex;
    align-items: baseline;
    gap: 8rem;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

a{
    text-decoration: none;
    color: var(--clr-ash);
    margin: auto;
}

a:hover{
    color: var(--clr-magenta);
}

li{
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
    line-height: 22px;
    text-align: center;
}

.button button{
    margin-top: 20px;
    padding: 10px 35px;
    background-color: transparent;
    border: 1.4px solid var(--clr-magenta);
    border-radius: 50px;
    font-size: 18.57px;
    font-weight: 500;
    line-height: 21.76px;
    text-align: center;
    color: var(--clr-ash);
    cursor: pointer;
}

button:hover{
    color: var(--clr-magenta);
}

@media(max-width:1234px){
    ul{
        margin: 10px 90px 0 0;
    }

}

@media(max-width:1167px){
    .button{
        display: none;
    }

    ul{
        margin: 10px 0 0;
    }

}

@media(max-width:900px){
    nav{
        flex-direction: column;
        padding-bottom: 75px;
    }

    .mobile{
        display: flex;
        justify-content: space-between;
    }

    .logo img{
        width: 70%;
    }

    .bars{
        display: block;
        margin: auto 0;
        padding: 20px 0;
    }

    .bars i{
        color: var(--clr-ash);
        cursor: pointer;
    }

    .desktop{
        flex-direction: column;
        display: none;
    }

    ul{
        flex-direction: column;
        justify-content: center;
        margin: 10px 0 20px -35px;
        text-align: center;
    }

    li{
        padding: 20px 0;
    }

    .button{
        display: block;
    }

    .button button{
        padding: 10px 70px;
    }

}